/*
• KLeur: #030303 - h1, h2 etc.
• Nav-Font color: #515151
• Nav hover: #bababa

*/

body {
    font-family: 'helvetica';
    background-color: white;
    margin: 0;
}

.naam {
    width: 75px;
    display: flex;
    justify-content: center;
    padding-bottom: 5em;
    opacity: 25%;
}

.intro-01 {
    margin: 0;
    background-color: #f5f5f5;
    width: 100%;
    text-align: center;
    animation: move 4s ease;
}

.intro-02 {
    background-color: #f5f5f5;
    text-align: center;
    padding-bottom: 1em;
    animation: move 4s ease;
}

.intro-03 {
    background-color: #f5f5f5;
    text-align: center;
    padding-bottom: 2em;
    animation: move 4s ease;
}

.italic {
    font-style: italic;
    font-weight: 400;
    color: grey;
}

.blok {
    font-size: 0.5em;
    opacity: 20%;
    font-weight: 400;
}

header img {
    width: 600px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: auto;
}

.cijfer {
    font-size: 1.5em;
    color: black;
    text-align: center;
    font-weight: 400;
}

.cijfer-project {
    font-size: 1em;
    text-align: center;
    color: #515151;
}

header {
    background-color: black;
}

nav a {
    text-decoration: none;
    color: #515151;
    /*Strepen onder de linkjes weg te halen*/
    padding: 1em;
    width: 100%;
    letter-spacing: -1px;
}

nav a:hover {
    display: flex;
    justify-content: space-around;
    color: #bababa;
    transition: 0.7s;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-weight: 400;
    padding-top: 1em;
    margin: 1em;
    margin-bottom: 0em;
    color: #030303;
    animation: move 2s ease;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 1.6em;
    font-weight: 500;
    padding-top: 1em;
    margin: 1em;
    margin-bottom: 0em;
    color: grey;
}

.overig-intro {
    animation: move 2s ease;
}

@keyframes background {
    0% {color: grey;}
    100% {color: black;}
}

main p {
    text-align: center;
    margin: auto;
    padding: 1em 10em;
    text-align: center;
    color: #515151;
}

span {
    font-size: 1em;
    font-weight: 900;
    color: black
}

/*ul li {
    color: white;
    font-size: 1em;
    padding: 1.2em;
    display: inline;
    text-transform: uppercase;
    color: black;
    text-align: center;
    margin: 0 2em;
}*/

li {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    font-size: 1em;
    margin-bottom: 0em;
}

nav {
    background-color: #030303;
    padding: auto;
    margin: auto;
    margin-bottom: 1em;
}

.logo-patroon {
    opacity: 50%;
    margin: -0.7em;
    padding: 0em;
    width: 40px
}

.logo-patroon:hover {
    opacity: 100%;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin-bottom: -1em
}

main img {
    padding-top: 3em;
    display: flex;
    width: 60px;
    margin: auto;
    padding: auto;
    opacity: 75%;
}

footer p {
    opacity: 40%;
    font-size: 0.7em;
    color: grey;
    text-align: center;
    background-color: white;
    padding: 2em;
    margin-bottom: 0em;
}

section {
    display: flex;
    justify-content: center;
    padding: 1em 0em;
}

.kleur-section img {
    width: 100%;
    margin: 0;
}

.kleur-section-02 img {
    width: 100%;
    margin: 0em;
    padding: 0em;
}

section a {
    text-decoration: none;
}


article {
    display: flex;
    justify-content: center;
    width: 200px;
    margin: 0em 1em;
    border-radius: 3px;
}

article h3 {
    margin-left: auto;
    margin-right: auto;
    color: #bababa;
    font-weight: 100;
    font-size: 1em;
    margin-top: 0em;
}

article h3:hover {
    color: #515151;
    transition: 0.7s;
}

.xs {
    width: 400px;
    opacity: 100%;
    padding: 1em;
}

.banner-klein {
    width: 150px;
    padding: 4em;
    animation: move 2s ease, bounce 1s ease;
}

@keyframes move {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

@keyframes bounce {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(-30px); }
        100% { transform: translateY(0); }
    }

#beeldtaal main img {
    width: 750px;
    opacity: 100%;
    padding: 0em;
    margin-top: 2em;
    background-color: white;
}

.kleur-header {
    background-color: #f5f5f5;
    animation: color 3s ease;
}

@keyframes color {
    0% {background-color: white;}
    100% {background-color: #f5f5f5;}

}

.twee-buttons button {
    margin: 1em;
}


.banner-klein-alles {
    animation: move 8s ease;
}

button {
    display: flex;
    font-size: 1em;
    color: grey;
    background-color: black;
    border-radius: 5px;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    padding: 0.6em 2em;
    text-decoration: none;
}

button:hover {
    color: white;
    cursor: pointer;
    transition: 1s ease-in-out all;
}

video {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    opacity: 100%;
    padding: 0em;
    margin-top: 2em;
    background-color: white;
}

@media(min-width: 80em) {

    main p {
        text-align: center;
        padding: 1em 30em;
    }
}
